<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My CRUD in NodeJS</title>
    </head>
    <body>
    
        <h2>Produto<h2>
        <form action="/product" method="POST">
            <input type="text" placeholder="Nome do produto" name="productName">
            <input type="number" step="0.01" placeholder="valor" name="price">
            <input type="datetime" placeholder="dia da compra" name="date">
            <button type="submit">Submit</button>
        </form> 
    
    </body>
</html>